
body {
  width: 85%;
  margin: 30px auto;
  font-family: sans-serif;
  background: black;
}

div {
  display: flex;
  flex-wrap: wrap;
}

a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

figure {
  margin: 0;
  overflow: hidden;
  vertical-align: middle;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #000;
  transition: transform 0.2s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.topnav {
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4caf50;
  color: white;
}
