body {
  margin: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 30px auto;
}

.container > a,
.container > button {
  width: 15%;
  margin: 5%;
  text-decoration: none;
  text-align: center;

  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.loading {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}

.shadow {
  position: fixed;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(31 31 31 / 89%);
  display: none;
}

.button-basic {
  background-color: black;
  border-color: white;
  border: 1px solid white;
  color: white;
  padding: 0.55em 0.55em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.editBtn {
  position: absolute;
  right: 0;
  bottom: 0;

  background: none;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  color: white;
}

.doneBtn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(31 31 31 / 89%);
  z-index: 2;
  cursor: pointer;
  padding: 70px 0;
  text-align: center;
}

#web {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#editModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(31 31 31 / 89%);
  text-align: center;
  display: none;
}

#geoModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(31 31 31 / 89%);
  text-align: center;
  padding: 100px;
  display: none;
}

#geoModal.show {
  align-items: center;
  display: flex;
  flex-direction: column;
}
