body {
  margin: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}

*:focus {
  outline: none;
}

a {
  color: #c7c7c7;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 30px auto;
}

.container > a,
.container > button {
  width: 15%;
  margin: 5%;
  text-decoration: none;
  text-align: center;

  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.loading {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}

.shadow {
  position: fixed;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(31 31 31 / 89%);
  display: none;
}

.btnBasic {
  background-color: black;
  border-color: white;
  border: 1px solid white;
  color: white;
  padding: 0.55em 0.55em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.btnDone {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  padding-bottom: 25px;
  width: 100%;
  text-align: center;
}

.footer > .btnGroup {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer > .btnGroup > button {
  background: none;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  color: white;
}

.modal {
  position: fixed;
  display: none;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(31 31 31 / 89%);
  z-index: 2;
  padding: 100px;
  text-align: center;
}

.Modal.show {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#web {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#editModal,
#overlay {
  padding: 70px 0;
}
